@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
    .inputCss{
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 12px;
        padding: 16px 0px 16px 22px;
        width:100%;
    }
}